<!-- Le pieds de pages -->
<footer class="class="container-sm>
    <br>
    <br>
     <div class="row bg-success">
         <ul class="col-12 text-center my-3">
             <li class="d-inline-block m-3">
                 <a href="/mentions-legales" title="Vers la page les mentions légales de l'entreprise 22" rel="nofollow" class="text-decoration-none text-white">Mentions légales</a>
             </li>
             <li class="d-inline-block m-3">
                 <a href="/rgpd-cookies" title="Vers la page vie privée du site Artisan Finder" rel="nofollow" class="text-decoration-none text-white">Vie privée</a>
             </li>
             <li class="d-inline-block m-3">
                 <a href="/conditions-generales-utilisation" title="Vers la page des conditions générales d'utilisation du Artisan Finder" rel="nofollow" class="text-decoration-none text-white">CGU</a>
             </li>
             <li class="d-inline-block m-3">
                 <a href="/conditions-generales-de-vente" title="Vers la page des conditions générales de vente du site Artisan Finder" rel="nofollow" class="text-decoration-none text-white">CGV</a>
             </li>
             <li class="d-inline-block m-3">
                 <a href="/equipe" title="Vers la page de l'équipe" rel="nofollow" class="text-decoration-none text-white">Equipe</a>
             </li>
             <li class="d-inline-block m-3">
                 <a href="/contact" title="Vers la page de contact" rel="nofollow" class="text-decoration-none text-white">Contact</a>
             </li>
         </ul>
         <p class="text-white text-center">© Entreprise 22 2024</p>
     </div>
 </footer>

 {% block pieds_pages %}  {% endblock  %}